@using Microsoft.Azure.ActiveDirectory.GraphClient
@model User

@{
    ViewBag.Title = "User Profile";
}
<h2>@ViewBag.Title.</h2>

<table class="table table-bordered table-striped">
    <tr>
        <td>Display Name</td>
        <td>@Model.DisplayName</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>@Model.GivenName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td>jobTitle</td>
        <td>@Model.JobTitle</td>

    </tr>

    <tr>
        <td>Mail</td>
        <td>@Model.Mail</td>

    </tr>
    <tr>
        <td>Owner</td>
        <td>@Model.Owners</td>

    </tr>
    <tr>
        <td>SignInNames</td>
        <td>@Model.SignInNames</td>

    </tr>
    <tr>
        <td>StreetAddress</td>
        <td>@Model.StreetAddress</td>

    </tr>
    <tr>
        <td>TelephoneNumber</td>
        <td>@Model.TelephoneNumber</td>

    </tr>
    <tr>
        <td>UserPrincipalName</td>
        <td>@Model.UserPrincipalName</td>

    </tr>
    <tr>
        <td>ProxyAddresses</td>
        <td>@Model.ProxyAddresses</td>

    </tr>
    <tr>
        <td>UserType</td>
        <td>@Model.UserType</td>

    </tr>

</table>
